h1{
text-shadow: 2px 2px #7EF9FF;
font-size: 20px;
}
body{
text-align: center;
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(7,249,91,1) 100%);
background-repeat: no-repeat;
}ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1aff1a;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#aboutbody{
background-color: antiquewhite;
}
